
.idea

.venv
venv
python/.venv
log

web/front/node_modules
web/front/dist
web/dist

/algorithms/src/preprocess/single_pre/patch/
/algorithms/src/preprocess/single_pre/src/
/algorithms/src/recognize/cn_char_recognize/runs/
